.calculadora{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red;
  border-radius: 20px;
  font-size: 50px;
}

.contenedor-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  flex-direction: center;
  border: solid red;
  border-radius: 20px;
  align-items: center;
  size: cover;
}

.contenedor-imputs{
  border: solid red;
  border-radius: 20px;
  }

.contenedor-botones{
  border: solid red;
  border-radius: 20px;
}

.contenedor-resultados{
  border: solid red;
  border-radius: 20px;
}


body{
  background-image: url(imagenes/calculos.png);
  size: 100vh 100vw;
  background-repeat: no-repeat;
}